.item-header {
    td div {
        display: flex;
        header { flex-grow: 1; }
        button { font-weight: bold; }
    }

    img {
        width: 3em;
    }
}

.item-collapse {
    background: #e6e6e6;
    margin: 0 auto;
    text-align: center;
    width: 95%;
}

.marked > * { color: blue; }