<section class="fixed-bottom d-none d-md-block">
    <div class="d-flex justify-content-center align-items-end">
        <div class="grade-container">
            <a *ngFor="let i of items | itemGradeFilter: bronzeGradeFilter" [fragment]="idPrefix + i.id" [routerLink]="" class="p-0">
                <img [alt]="i.name" [src]="i.imgURL"/>
            </a>
        </div>
        <div class="grade-container">
            <a *ngFor="let i of items | itemGradeFilter: silverGradeFilter" [fragment]="idPrefix + i.id" [routerLink]="" class="p-0">
                <img [alt]="i.name" [src]="i.imgURL"/>
            </a>
        </div>
        <div class="grade-container">
            <a *ngFor="let i of items | itemGradeFilter: goldGradeFilter" [fragment]="idPrefix + i.id" [routerLink]="" class="p-0">
                <img [alt]="i.name" [src]="i.imgURL"/>
            </a>
        </div>
    </div>
</section>
