<div style="margin-bottom: 8rem">
    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <div class="float-right mb-3">
                    <button (click)="clearAllPins()" class="btn btn-primary btn-sm">Clear Pins</button>
                </div>
                <app-item-drop-table [areaNameFilters]="areaFilters" [items]="DROPS" [pinnedItemIds]="pinnedItemIds"></app-item-drop-table>
                <app-item-anchor-links [items]="DROPS" idPrefix="item-"></app-item-anchor-links>
            </div>
        </div>
    </div>
</div>