<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">FateGO</a>
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [collapse]="isCollapsed" [isAnimated]="true" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a [routerLink]="Path.DROPS" class="nav-link">Drops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Calculator</a>
            </li>
            <li class="nav-item dropdown" dropdown>
                <a class="nav-link dropdown-toggle" dropdownToggle>
                    Links
                    <span class="caret"></span>
                </a>
                <div *dropdownMenu class="dropdown-menu">
                        <a class="dropdown-item" target="_blank"
                            href="https://docs.google.com/spreadsheets/d/1_SlTjrVRTgHgfS7sRqx4CeJMqlz687HdSlYqiW-JvQA/view">
                            Grand Order Drop Rates
                        </a>
                        <a class="dropdown-item" target="_blank"
                            href="https://docs.google.com/spreadsheets/d/1qvxLU407QwiFaCvItqR16SqqAVlLD5u5nBzY_bCFYvs/edit">
                            Event Resources
                        </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" target="_blank" href="http://fate-go.cirnopedia.org/index.php">Cirnopedia</a>
                    <a class="dropdown-item" target="_blank" href="http://fategrandorder.wikia.com/wiki/Fate/Grand_Order_Wikia">FGO Wikia</a>
                    <a class="dropdown-item" target="_blank" href="https://grandorder.wiki/Main_Page">Grand Order Wiki</a>
                </div>
            </li>
        </ul>
        <form class="form-inline">
            <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search"/>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main style="margin-top: 5rem">
    <router-outlet></router-outlet>
</main>
