<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">FateGO</a>
    <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [collapse]="isCollapsed" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Drops</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Calculator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Links</a>
            </li>
        </ul>
        <form class="form-inline">
            <input aria-label="Search" class="form-control mr-sm-2" placeholder="Search" type="search"/>
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main style="margin-top: 5rem">
    <router-outlet></router-outlet>
</main>
